body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    background-image: url('veebilehe_pildid/muster.png');
    background-size: 200vh 100vh;
    background-repeat: repeat;
    box-sizing: border-box;
}
