
body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    background-image: url('veebilehe_pildid/muster.png');
    background-size: 50vh 50vh;
    background-repeat: repeat;
    box-sizing: border-box;
}

header {
    background-color: #b70000;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 20px 20px 20px;
    background-color : rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: none;
    margin-top: 0;
}

.tekstikast {
   background-color: #ffc0cb;
   padding: 15px 20px;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 2px solid #b70000;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tekstikast p {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    line-height: 1.6;
    font-weight: bold;
}

.tekstikast#viimane-tekstikast {
    background-color: #ffc0cb;
    border: 2px solid #b70000;
    color: white;
    font-weight: bold;;
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.pildid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.pildiraam {
    background-color: #b70000;
    border: 5px solid #b70000;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
}

.pildiraam img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.nupp {
    background-color: #269e3a;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
}

.nupp:hover {
    background-color: #1f6f2a;
    transform: translateY(-2px);
}


