
body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

@keyframes scroll {
    0% {transform:translateY(0)}
    100% {transform:translateX(16vh)}
}

.background {
    opacity: 1;
    animation: scroll 5s linear infinite;
    position: fixed;
    background-image: url(veebilehe_pildid/muster.png);
    background-repeat: repeat;
    background-size: 16vh 4vh;
    background-position: center;
    left: -16vh;
    width: 200%;
    height: 120vh;
    z-index: -1;
}

header {
    position: relative;
    background-color: rgba(183, 0, 0, 0.5);
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(3px);
}

header nav {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color:#269e3a;
}

header nav:hover {
    color:#1f6f2a
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: font-size 0.2s ease;
}

header h1:hover {
    font-size: 2.7em;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 20px 20px 20px;
    background-color : rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: none;
    margin-top: 20px;
    border-radius: 5px;
    border: 5px solid #000000;
}

.tekstikast {
   background-color: rgba(255, 192, 203, 0.7);
   padding: 15px 20px;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 2px solid #b70000;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.tekstikast:hover {
    background-color: rgba(255, 182, 193, 0.9);
}

.tekstikast p {
    margin: 0;
    font-size: 1.5em;
    color: #000000;
    line-height: 1.6;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.tekstikast#viimane-tekstikast {
    background-color: rgba(255, 192, 203, 0.7);
    border: 2px solid #b70000;
    color: white;
    font-weight: bold;;
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.tekstikast#viimane-tekstikast:hover {
    background-color: rgba(255, 182, 193, 0.9);
}

.pildid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.pildiraam {
    background-color: rgba(183, 0, 0, 0.5);
    border: 5px solid #b70000;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.pildiraam:hover {
    transform: scale(1.2);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
}

.pildiraam img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.nupp {
    background-color: #269e3a;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nupp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #1f6f2a;
    width: 0;
    z-index: -1;
    transition: width 0.5s ease;
}

.nupp:hover::before {
    width: 100%;
    
}
.nupp:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.nupukonteiner {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: bold;
    gap: 10px;
}

.nupukonteiner .nupp {
    margin-left: 0;
    margin: 5px
}



.kirjeldus {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
}

.kirjeldus.visible {
    opacity: 1;
    display: block;
    
}

@media only screen and (max-width:500px) {
    header {
    padding: 5px 0;
  }
  header nav {
    font-size: 0.8em;
    right: 0px;
    margin-right: 10px;
  }
  header h1 {
    font-size: 1.5em;
  }
  .nupp {
    padding: 5px 10px;
    font-size: 0.8em;
  }
}
