

body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.container {
    margin-top: 30px;
    width : 80%;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
    border-radius: 30px;
    position: relative;
}

@keyframes scroll {

    0% {transform:translateY(0)}
    100% {transform:translateX(16vh)}
}

.background {
    opacity: 1;
    animation: scroll 5s linear infinite;
    position: fixed;
    background-image: url(veebilehe_pildid/muster.png);
    background-repeat: repeat;
    background-size: 16vh 4vh;
    background-position: center;
    width: 116vw;
    height: 100vh;

}