

body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color : antiquewhite;
}

@keyframes containerFadeIn {
    0% {opacity: 0; transform:translateX(-20px);}
    100% {opacity:1; transform: translateX(0);}
}

.container {
    animation: containerFadeIn 0.8s ease-in;
    height: 300px;
    overflow: hidden;
    width : 80%;
    background-color: rgba(66, 31, 31, 0.7);
    margin-top : 120px;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid rgb(49, 10, 10);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow:0 0 20px rgb(255, 255, 255); 
    -moz-box-shadow: 0 0 20px rgb(97, 0, 0); 
    box-shadow:0 0 100px rgba(255, 255, 255, 0.815);
}

@keyframes scroll {

    0% {transform:translateY(0)}
    100% {transform:translateX(16vh)}
}

.background {
    opacity: 1;
    animation: scroll 5s linear infinite;
    position: fixed;
    background-image: url(veebilehe_pildid/muster.png);
    background-repeat: repeat;
    background-size: 16vh 4vh;
    background-position: center;
    left: -16vh;
    width: 200%;
    height: 120vh;

}

.playbutton {
    margin-top: 10px;
    background-color: #f00;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: black;
    cursor: pointer;
    transition : background-color 0.3s linear, color 0.3s linear;
}

.playbutton:hover {
    background-color: darkred;
    box-shadow: 0 0 20px rgb(172, 172, 172);
    color:antiquewhite
}

.playbutton:hover * {
    box-shadow: none;
}




.invbox {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    width: 90%;
    background-color: rgba(61, 37, 0, 0.2);
    border-width: 6px;
    border-color: rgb(165, 121, 0);
    border-radius: 10px;
    opacity: 0;
}

@keyframes scrolldown {
    from {
        transform: translateY(0);
    }    
    to {
        transform: translateY(9vw);
    }
}

@keyframes scrollup {
    from {
        transform: translateY(0);
    }    
    to {
        transform: translateY(-9vh);
    }
}


.leftbar {
    animation: scrolldown 2s linear infinite;
    left: 0;
    top: -20vw;

    background-image: url("veebilehe_pildid/K-Nõo.jpg");
    position: fixed;
    background-position: top left;
    background-repeat:repeat-y;
    background-size: 15vw 9vw;
    width: 15vw;
    height: 200vh;
    box-shadow: 0 0 20px black;
}

.rightbar {
    animation: scrollup 2s linear infinite;
    right: 0;
    top: 0vw;

    background-image: url("veebilehe_pildid/K-Nõo.jpg");
    position: fixed;
    background-position: top right;
    background-repeat:repeat-y;
    background-size: 15vw 9vh;
    width: 15vw;
    height: 150vh;
    box-shadow: 0 0 50px black;
}

.sideflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.videoplayer{
    width: 50%;
    height: 30vw;
    box-shadow: 0 0 40px rgb(29, 1, 1);
}
.gifs{
    width: 15%;
    height: 15%;
}

header {
    z-index: 10;
    position: fixed;
    background-color: #b7000083;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(3px);
}

header nav {
    position: absolute;
    right: 20px;
    top: 50%;
        transform: translateY(-50%);
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color:#269e3a;
}

header nav:hover {
    color:#1f6f2a
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: font-size 0.2s ease;
}

header h1:hover {
    font-size: 2.7em;
}

.meistnupp {
    background-color: #269e3a;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
}

.meistnupp:hover {
    background-color: #1f6f2a;
    transform: translateY(-2px);
}

@media only screen and (max-width:500px) {
  /* Moblade jaoks */
  header {
    padding: 5px 0;
  }
  header nav {
    font-size: 0.8em;
    right: 0px;
    margin-right: 10px;
  }
  header h1 {
    font-size: 1.5em;
  }
  .meistnupp {
    padding: 5px 10px;
    font-size: 0.8em;
  }
  .videoplayer{
    width: 100%;
    height: 50vw;
  }
  .container {
    margin-top: 60px;
  }
 .sideflex{
    flex-direction: column;
  }
}